<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644621164238-hcvot3k5ls3eo9oje8jcss37ul1nerfs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644621164238-hcvot3k5ls3eo9oje8jcss37ul1nerfs</string>
	<key>API_KEY</key>
	<string>AIzaSyBHrDwdesJ5Dmji6BaP9qQHVOpihmcYv2M</string>
	<key>GCM_SENDER_ID</key>
	<string>644621164238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vapeApp</string>
	<key>PROJECT_ID</key>
	<string>store-134b5</string>
	<key>STORAGE_BUCKET</key>
	<string>store-134b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644621164238:ios:477d6a5e8595cf3bbbba9f</string>
</dict>
</plist>